# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Hugging Face cache
root/.cache/huggingface/

# Vscode
.vscode/

# Docker

# Logs and outputs
*.log
output.jpg
annotated.jpg
out.jpg
*.jpg
# Test images
test_images/
images/
# EBUS Image Capture DEV code
EBUS_Image_Capture-DEV/
deb_extract/
opcua_server.py